:root {
    --mouse-x: 50%;
    --mouse-y: 50%;
  }

body, html {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
    background-size: cover;
    background-position: center center;
}

.img1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50vw;
  height: auto;
  z-index: 2;
  animation: img1 10s ease both;
}

@keyframes img1 {
  from {
      transform: translateX(0px);
      opacity: 1;
  }

  to {
      transform: translateX(-900px);
      opacity: 0;
  }
}

.img2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50vw;
  height: auto;
  z-index: 2;
  animation: img2 10s ease both;
}

@keyframes img2 {
  from {
      transform: translateX(0px);
      opacity: 1;
  }

  to {
      transform: translateX(900px);
      opacity: 0;
  }
}

.img1, .img2 {
  max-height: 100vh; 
  max-width: 100vw;
}

.notinteractive {
  pointer-events: none;
}

#content {
    position: absolute;
    width: 50vh;
    border: 15vh;
    left: 120vh;
    padding: 10vh;
    margin: 10vh;
    color: white;
    opacity: 1; 
    transition: opacity 0.5s ease-in-out;
    cursor: none;
}

#second-Content {
    width: 60vh;
    border: 10vh; 
    padding: 5vh;
    margin: 10vh;
    position: absolute;
    top: 4vh;
    left: 5vh;
    color: white; 
    opacity: 1; 
    transition: opacity 0.5s ease-in-out; 
    cursor: none;
  }

#third-Content {
  width: 60vh;
  border: 10vh; 
  padding: 5vh;
  margin: 10vh;
    position: absolute;
    top: 20vh;
    left: 100vh;
    color: white; 
    opacity: 1; 
    transition: opacity 0.5s ease-in-out; 
    cursor: none;
  }
  


  .mask {
    width: 100vw;
    height: 100vh;
    background-color: hsla(0,0%,0%, 0.9);
    position: absolute;
    top: 0; 
    left: 0; 
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 30px,
      black 150px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 30px,
      black 150px
    );
    pointer-events: none; 
    
}

#btn {
  height: 90vh;
  width: 10vh;
  top: 90vh;
  left:8vh;
  border: none;
  border-radius: 10px;
  color: hwb(0 64% 34%);
  font-size: 20px;
  position: absolute;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  cursor: pointer;
  padding-top: 5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 5vh;
  width: 9vh;
  top: 0;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

#btn2 {
  height: 90vh;
  width: 10vh;
  top: 90vh;
  left:195vh;
  border: none;
  border-radius: 10px;
  color: hwb(0 64% 34%);
  font-size: 20px;
  position: absolute;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  cursor: pointer;
  padding-top: 5px;
}

#btn2 #circle2 {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect2 {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn2:hover {
  background: transparent;
}

#btn2:hover #circle2 {
  height: 5vh;
  width: 9vh;
  top: 0;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

